<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>POST AJAX Page</title>
    <script src="../../Scripts/JS/postpage.js"></script>
</head>
<body>
    <p>Post Game:</p>
    GameName: <input type="text" id="gameNametxt" />
    Player 1: <input type="text" id="player1txt" />
    Player 2: <input type="text" id="player2txt" />
    Winner: <input type="text" id="whoWontxt" />
    <button name="PostGame" onclick="postGame()">POST Game</button>
    <div id="results">

    </div>
</body>
</html>