<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>POST AJAX Page</title>
    <script src="../../Scripts/JS/putpage.js"></script>
    <script src="../../Scripts/JS/getpage.js"></script>
</head>
<body>
    <p>Put data:</p>
    GameID: <input class="form-control" type="text" id="gameIdtxt" />
    GameName: <input class="form-control" type="text" id="gameNametxt" />
    Player 1: <input class="form-control" type="text" id="player1txt" />
    Player 2: <input class="form-control" type="text" id="player2txt" />
    Winner: <input class="form-control" type="text" id="whoWontxt" />
    <button class="btn btn-info" name="get1Game" onclick="get1Game()">Get Game by id</button>
    <button class="btn btn-info" name="putInGame" onclick="putGame()">Update said Game</button>
    <div id="results">
    </div>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>